<html>

<head>
  <title>Index</title>
  <link rel="icon" href="./static/images/website/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<%- include("includes/header") %>

  <section class="website-container-body">
    <main class="website-content">
      <h5> Game Modes</h5>
      <section class="website-content-text">
        <p>
        <h3> Welcome to the Blunder.com, you have found yourself on the new chess platform which would teach you how to
          blunder in chess. In order to blunder with style, this website offerrs three modes to play. You can learn
          chess from scratch, test yourseklf with challenging chess problems, and blunder against your friends. 
        </h3>
        </p>
      </section>

      <div id="sociallocker">
        <div id="sociallocker-links">
          <div class="programs-l" >
            <a><img class="width" src="static/images/website/login.png" style="margin-top: -800px;" /></a>
            <a href=""><button class="start">
                <h4>Enter the site</h4>
              </button></a>
          </div>
        </div>

        <div id="sociallocker-content">
          <section class="programs">
            <div class="row">
              <div class="programs-k">
                <a href="./test.html"><img class="top" src="static/images/website/play.png" /></a>
                <a href="./test.html"><img class="width" src="static/images/website/play_banner.png" /></a>
                <button class="start">
                  <h4>Play</h4>
                </button>
              </div>
                <div class="programs-k">
                  <a href="./browse-puzzles.html"><img class="top" src="static/images/website/puzzle.png" /></a>
                  <a href="./browse-puzzles.html"><img class="width" src="static/images/website/puzzle_banner.png" /></a>
                  <button class="start">
                    <h4>Solve puzzle</h4>
                  </button>
                </div>
           
                  <div class="programs-k">
                    <a href="./learn"><img class="top" src="static/images/website/learn.png" /></a>
                    <a href="./learn"><img class="width" src="static/images/website/learn_banner.png" /></a>
                    <a href="./learn"> <button class="start">
                        <h4>Start a lesson</h4>
                      </button></a>
                  </div>
         
              </div>
          </section>
        </div>

        <div id="sociallocker-overlay" style="margin-top: -50%;"><img class="lock" src="static/images/website/lock.png" />
          Unlock content by logging in
        </div>
      </div>
    </main>

    <%- include("includes/navbar") %>

      <sidebar class="sidebar-2 w-sidebar">
        <section class="inner_board_section">
          <h3> Leaderboard </h3>
          <% for (let [key, value] of leaderboard) { %>
            <div class="board_content">
              <div class="img">
                <img src="/static/images/website/profile1.png" alt="picture_1">
              </div>
              <div class="player">
                <p><span>
                    <h3></h3>
                  </span>
                <h3>
                  <%- key %>
                </h3>
                </p>
                <div class="score_bar_wrap">
                  <div class="score_bar"></div>
                </div>
              </div>
              <div class="points">
                <p><span>
                    <h3></h3>
                  </span>
                <h3>
                  <%- value %>
                </h3>
                </p>
              </div>
            </div>
            <% } %>
        </section>
      </sidebar>
  </section>

  <%- include("includes/footer") %>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/users_actions/<%= filename %>.js"></script>
    </body>

</html>